@let unit = size();

@if (isAtomicStitch | curry : stitch()) {
    <ng-container *ngTemplateOutlet="atomicStitch; context: { stitch: stitch() }"></ng-container>
} @else if (isCompositeStitch | curry : stitch()) {
    @let cableStitch = stitch() | as : CableStitch;
    @let backgroundColor = colors()?.get(cableStitch.color)?.value ?? defaultColor;
    <!-- There is an offset in stitch width because of the lack of borders (0.5px) in between stitches -->
    @let offset = cableStitch.sequence.length + 1; <!-- TODO only correct if size >= 4 -->
    @let horizontalUnit = unit + offset / cableStitch.sequence.length;
    <svg
        class="stitch"
        [style.background-color]="backgroundColor"
        nz-tooltip
        [nzTooltipTitle]="$any(chartService.getCableDescription | curry : cableStitch)"
        [nzTooltipTrigger]="showDescription() ? 'hover' : null"
        [attr.width]="horizontalUnit * cableStitch.sequence.length"
        [attr.height]="unit">
        <!--@for (stitch of cableStitch.sequence; let i = $index; track i) {
            Generate dividing lines in between stitch units
            @if (i !== 0) {
                <line [attr.stroke]="stroke()" [attr.x1]="i*unit" [attr.y1]="0" [attr.x2]="i*unit" [attr.y2]="unit"></line>
            }
        }-->
        
        @let leftCableWidth = cableStitch.sequence.length - cableStitch.toCableNeedle;
        @let leftCable = ("0," + unit) + " " + ((cableStitch.sequence.length - leftCableWidth) * horizontalUnit + ",0") + " " + (cableStitch.sequence.length * horizontalUnit + ",0") + " " + (leftCableWidth * unit + offset + "," + unit);
        <!-- Cable should be filled if its directions include at least 1 purl stitch. -->
        @let fillLeftCable = (leftCableContainsPurl | curry : cableStitch) ? stroke() : backgroundColor;

        @let rightCableWidth = cableStitch.toCableNeedle;
        @let rightCable = "0,0 " + ((cableStitch.sequence.length - rightCableWidth) * horizontalUnit + "," + unit) + " " + (cableStitch.sequence.length * horizontalUnit + "," + unit) + " " + (rightCableWidth * horizontalUnit + ",0");
        @let fillRightCable = (rightCableContainsPurl | curry : cableStitch) ? stroke() : backgroundColor;

        <!-- Depending on cable stitch's cross direction, either render left or right cable on top of the other -->
        @if (cableStitch.holdCableNeedle === CableNeedleDirection.HOLD_BEHIND_WORK) {
            <!-- Right cable should appear underneath left cable -->
            <polygon [attr.points]="rightCable" [attr.fill]="fillRightCable" [attr.stroke]="stroke()"></polygon>
            <polygon [attr.points]="leftCable" [attr.fill]="fillLeftCable" [attr.stroke]="stroke()"></polygon>
        } @else {
            <!-- Left cable should appear underneath right cable -->
            <polygon [attr.points]="leftCable" [attr.fill]="fillLeftCable" [attr.stroke]="stroke()"></polygon>
            <polygon [attr.points]="rightCable" [attr.fill]="fillRightCable" [attr.stroke]="stroke()"></polygon>
        }

    </svg>    
}
<ng-template #atomicStitch let-stitch="stitch">
    @let atomicStitch = stitch | as : AtomicStitch;
    <svg class="stitch"
        [style.background-color]="colors()?.get(atomicStitch.color)?.value ?? defaultColor"
        nz-tooltip
        [nzTooltipTitle]="stitch.type"
        [nzTooltipTrigger]="showDescription() ? 'hover' : null"
        [attr.width]="unit"
        [attr.height]="unit">
        @switch(atomicStitch.type) {
            @case(AtomicStitchType.Knit) {
            }
            @case (AtomicStitchType.Purl) {
                <circle [attr.cx]="unit / 2" [attr.cy]="unit / 2" [attr.r]="0.2 * unit" [attr.fill]="stroke()"/>
            }
            @case (AtomicStitchType.Yo) {
                <circle [attr.cx]="unit / 2" [attr.cy]="unit / 2" [attr.r]="0.2 * unit" [attr.stroke]="stroke()" fill="none"/>
            }
            @case (AtomicStitchType.K2tog) {
                <line [attr.x1]="unit * 0.25" [attr.y1]="unit * 0.75" [attr.x2]="unit * 0.75" [attr.y2]="unit * 0.25" [attr.stroke]="stroke()"/>
                <line [attr.x1]="unit * 0.5" [attr.y1]="unit * 0.5" [attr.x2]="unit * 0.75" [attr.y2]="unit * 0.75" [attr.stroke]="stroke()"/>
            }
            @case (AtomicStitchType.P2tog) {
                <line [attr.x1]="unit * 0.25" [attr.y1]="unit * 0.75" [attr.x2]="unit * 0.75" [attr.y2]="unit * 0.25" [attr.stroke]="stroke()"/>
                <line [attr.x1]="unit * 0.5" [attr.y1]="unit * 0.5" [attr.x2]="unit * 0.75" [attr.y2]="unit * 0.75" [attr.stroke]="stroke()"/>
                <line [attr.x1]="unit / 5 * 2" [attr.y1]="unit * 0.75" [attr.x2]="unit / 5 * 3" [attr.y2]="unit * 0.75" [attr.stroke]="stroke()"></line>
            }
        }
    </svg>
</ng-template>