<div style="width: 60%; margin: auto;">
@if (user) {
    <h2>{{ user.username }}</h2>
    <h2>Created charts</h2>
    @if (charts && charts.length > 0) {
        <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }, 8]">
            @for (chart of charts; track chart.id) {
                <div nz-col [nzSm]="8" [nzLg]="6">
                    <app-charts-listing-element [chart]="chart" [showFavorite]="false"></app-charts-listing-element>
                </div>
            }
        </div>
    } @else {
        <p>This user hasn't created any charts yet.</p>
    }

    <h2>Favorites</h2>
    @if (user.favorites && user.favorites.length > 0) {
        <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }, 8]">
            @for (chart of user.favorites; track chart.id) {
                <div nz-col [nzSm]="8" [nzLg]="6">
                    <app-charts-listing-element [chart]="chart" [showFavorite]="false"></app-charts-listing-element>
                </div>
            }
        </div>
    } @else {
        <p>This user hasn't added any favorites yet.</p>
    }
}
</div>