<div class="chart-viewer">
@if (colorPaletteForm && chart) {
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <h2>{{ chart.title }}</h2>
        </div>
        <div nz-col [nzSpan]="12" class="interaction-buttons">
            <button (click)="toggleFavorite()" nz-button nzType="default">
                @if(isFavorite) {
                    <nz-icon nzType="heart" nzTheme="fill" />
                    In favorites
                } @else {
                    <nz-icon nzType="heart" nzTheme="outline" />
                    Favorite
                }
            </button>
            <button (click)="createVariation()" nz-button nzType="default">
                <nz-icon nzType="edit" nzTheme="outline" />
                Create variation
            </button>
        </div>
    </div>
    <div class="hovered-stitch">
        @if (hoveredStitch) {
            {{ hoveredStitch | patternDescription }}
        }
    </div>
    <div nz-row>
        <div nz-col [nzSpan]="16" >
            <app-chart-block [chart]="chart" [colors]="colorPaletteForm" (stitchEvent)="stitchEvent($event)"></app-chart-block>
        </div>
        <div nz-col [nzSpan]="8">
            @if (imageSrc) {
                <img style="max-width: 100%;" [src]="imageSrc">
            } @else {
                <!-- TODO placeholder element? -->
            }
        </div>
    </div>
    <div style="margin: auto;">
        <app-color-palette style="max-width: max-content;" [colors]="colorPaletteForm" [allowSelectMode]="false" [editorMode]="true"></app-color-palette>
    </div>
    <div>
        @for(row of patternToDescription; let i = $index, isEvenRow = $even; track i ) {
            @let isRS = chart.flat ? isEvenRow : true;
            Row {{ i + 1 }} ({{ isRS ? "RS" : "WS" }}): {{ row | patternDescription }} <br>
        }
    </div>
}
</div>