<nz-layout style="height: 100%">
  <button class="documentation-button" nz-button nzSize="large" nzShape="circle" nzType="primary" (click)="setDocumentationModalVisible(true)">
    <nz-icon nzType="info-circle" nzTheme="outline" />
  </button>
  <nz-sider nzTheme="light">
    <div style="padding: 10px;">
      <nz-divider nzPlain nzText="Stitches" nzOrientation="left"></nz-divider>
      <div class="stitch-inventory" nz-flex nzGap="middle" nzWrap="wrap">
        @for (atomicStitch of atomicStitchInventory; track atomicStitch.type) {
            <app-stitch [stitch]="atomicStitch" [colors]="colorPaletteForm" [showDescription]="true" (click)="selectElement(atomicStitch)"></app-stitch>
        }
      </div>
      <nz-divider nzPlain nzText="Cable stitches" nzOrientation="left"></nz-divider>
      <div class="stitch-inventory" nz-flex nzGap="middle" nzWrap="wrap">
        @for (cableStitch of cableStitchInventory; let i = $index; track i) {
          <app-stitch [stitch]="cableStitch" [colors]="colorPaletteForm" [showDescription]="true" (click)="selectElement(cableStitch)"></app-stitch>
        }
        <button nz-button nzSize="small" (click)="openNewCableNeedleModal()">
          <nz-icon nzType="plus" nzTheme="outline" />
        </button>
      </div>
      <div style="max-width: 100%">
      @if (isPanelEditor) {
        <nz-divider nzPlain nzText="Charts" nzOrientation="left"></nz-divider>
        @for (chart of chartInventory; track chart.id) {
          <div class="chart-preview" (click)="selectElement(chart)">
            <div class="pattern-preview">
              <app-chart-block [chart]="chart" [colors]="colorPaletteForm" [showRowLabels]="false" [stitchSize]="10"></app-chart-block>
            </div>
            <p>{{ chart.title }}</p>
          </div>
          
        }
        <button nz-button nzSize="small" (click)="openAddChartsModal()">
          Add charts
        </button>
      }
      </div>
      
    </div>
    <div class="language-selector">
      <nz-select [(ngModel)]="currentLanguage" (ngModelChange)="useLanguage($any($event))">
        <nz-option nzValue="en" nzLabel="English"></nz-option>
        <nz-option nzValue="hu" nzLabel="Magyar"></nz-option>
      </nz-select>
    </div>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      @if (chartForm && colorPaletteForm) {
        <app-chart-block [chartForm]="chartForm" [colors]="colorPaletteForm" (stitchEvent)="stitchEvent($event)"></app-chart-block>
        <app-color-palette class="color-palette" [colors]="colorPaletteForm" [allowSelectMode]="true" [editorMode]="true" [canDelete]="true" (colorSelected)="colorSelected($event)" (colorDeleted)="colorDeleted($event)"></app-color-palette>
      }
      @if (selectedElement) {
        <div class="selected-element">
          <nz-card nz-row>
            @if (chartService.isStitch(selectedElement)) {
              <p class="block-title">Selected stitch</p>
              <div nz-col>
                <app-stitch [stitch]="selectedElement" [colors]="colorPaletteForm" [size]="30"></app-stitch>
              </div>
              <div nz-col>
                {{
                  selectedElement | patternDescription : false : selectedStitchTrigger
                }}
              </div>
            } @else {
              <p class="block-title">Selected chart</p>
              <app-chart-block [chart]="selectedElement" [colors]="colorPaletteForm" [showRowLabels]="false" [stitchSize]="10"></app-chart-block>
            }
            
          </nz-card>
        </div>
      }
    </nz-content>
  </nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="rightSiderCollapsed" [nzWidth]="350" nzTheme="light">
    @if (chartForm && !rightSiderCollapsed) {
      <form style="width: max-content; margin: 10px" nz-form [formGroup]="chartForm">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.FORM.TITLE' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input nz-input formControlName="title" placeholder="{{ 'CHART_EDITOR.FORM.TITLE_PLACEHOLDER' | translate }}" type="text" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.FORM.DESCRIPTION' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <input nz-input formControlName="description" [attr.placeholder]="'CHART_EDITOR.FORM.DESCRIPTION_PLACEHOLDER' | translate" type="text" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.FORM.SIZE' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-space-compact nzBlock>
              <nz-input-number
                formControlName="width"
                (change)="onWidthChange()"
                [attr.placeholder]="'CHART_EDITOR.FORM.WIDTH_PLACEHOLDER' | translate"
                [nzControls]="false"
                [nzMin]="1"
                [nzMax]="isPanelEditor ? 40 : 20"
                style="width: 50px; text-align: center;"
                nz-popconfirm
                [nzPopconfirmTrigger]="null"
                [(nzPopconfirmVisible)]="confirmNewWidthPopconfirmVisible"
                [nzPopconfirmTitle]="'CHART_EDITOR.FORM.WIDTH_DECREASE_CONFIRM' | translate"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirmNewWidth()"
                (nzOnCancel)="cancelNewWidth()"
              />
              <input
                type="text"
                disabled
                nz-input
                placeholder="×"
                class="demo-input-split"
                style="width: 30px; border-left: 0px; border-right: 0px; pointer-events: none; background-color: rgb(255, 255, 255);"
              />
              <nz-input-number
                formControlName="height"
                (change)="onHeightChange()"
                [attr.placeholder]="'CHART_EDITOR.FORM.HEIGHT_PLACEHOLDER' | translate"
                [nzControls]="false"
                [nzMin]="1"
                [nzMax]="isPanelEditor ? 30 : 20"
                style="width:50px; text-align: center; border-left-width: 0px;"
                nz-popconfirm
                [nzPopconfirmTrigger]="null"
                [(nzPopconfirmVisible)]="confirmNewHeightPopconfirmVisible"
                [nzPopconfirmTitle]="'CHART_EDITOR.FORM.HEIGHT_DECREASE_CONFIRM' | translate"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="confirmNewHeight()"
                (nzOnCancel)="cancelNewHeight()"
                />
            </nz-space-compact>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" [nzLabelWrap]="true" nzRequired>{{ 'CHART_EDITOR.FORM.KNITTED_FLAT' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-switch formControlName="isFlat" nzSize="small"></nz-switch>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>
            {{ 'CHART_EDITOR.FORM.IMAGE' | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" [nzValidateStatus]="uploadedFileName !== undefined ? 'validating' : ''" [nzValidatingTip]="uploadedFileName">
            <nz-upload
              [nzLimit]="1"
              [nzAction]="onFileUpload"
              [nzShowUploadList]="false"
            >
            <button nz-button>
              <nz-icon nzType="upload" />
              {{ 'CHART_EDITOR.FORM.UPLOAD_BUTTON' | translate }}
            </button>
          </nz-upload>
          </nz-form-control>
        </nz-form-item>

        <button nz-button [nzLoading]="isSaving" nzType="primary" (click)="save()">{{ 'CHART_EDITOR.FORM.PREVIEW' | translate }}</button>

      </form>
    }
  </nz-sider>
</nz-layout>

<nz-modal [(nzVisible)]="isNewCableStitchModalVisible" [nzTitle]="'CHART_EDITOR.CABLE_STITCH_MODAL.TITLE' | translate" (nzOnOk)="addNewCableStitch()" (nzOnCancel)="closeNewCableStitchModal()">
  <ng-container *nzModalContent>
    <div class="cable-preview">
      <app-stitch [stitch]="cableStitchFormPreview"></app-stitch>
      <br>
      <span>{{ 'CHART_EDITOR.CABLE_STITCH_MODAL.PREVIEW' | translate }}</span>
    </div>
    <form nz-form [formGroup]="cableStitchForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.CABLE_STITCH_MODAL.SIZE' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-input-number
                formControlName="stitchNumber"
                (change)="onStitchNumberChange()"
                [attr.placeholder]="'CHART_EDITOR.CABLE_STITCH_MODAL.SIZE_PLACEHOLDER' | translate"
                [nzControls]="false"
                [nzMin]="2"
                [nzMax]="6"
              />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.CABLE_STITCH_MODAL.TO_CABLE_NEEDLE' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-input-number
                formControlName="toCableNeedle"
                (change)="regenerateCablePreview()"
                [attr.placeholder]="'CHART_EDITOR.CABLE_STITCH_MODAL.TO_CABLE_NEEDLE_PLACEHOLDER' | translate"
                [nzControls]="false"
                [nzMin]="1"
                [nzMax]="cableStitchForm.controls.stitchNumber.value - 1"
              />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.CABLE_STITCH_MODAL.HOLD_CABLE_NEEDLE' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-select formControlName="holdCableNeedle" (ngModelChange)="regenerateCablePreview()">
            <nz-option [nzValue]="CableNeedleDirection.HOLD_IN_FRONT_OF_WORK" [nzLabel]="'CABLE_NEEDLE_DIRECTION.IN_FRONT' | translate"></nz-option>
            <nz-option [nzValue]="CableNeedleDirection.HOLD_BEHIND_WORK" [nzLabel]="'CABLE_NEEDLE_DIRECTION.BEHIND' | translate"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>{{ 'CHART_EDITOR.CABLE_STITCH_MODAL.SEQUENCE' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzValidateStatus="validating" [nzValidatingTip]="'CHART_EDITOR.CABLE_STITCH_MODAL.SEQUENCE_TIP' | translate">
          @for (stitch of cableStitchForm.controls.sequence.value; let i = $index; track i) {
            <svg
              (click)="switchSequenceElementType(i)"
              class="stitch"
              width="20"
              height="20"
            >
              @if (stitch === AtomicStitchType.Purl) {
                <circle cx="10" cy="10" r="4" fill="black"/>
              }
            </svg>
          }
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isAddChartsModalVisible" [nzTitle]="'CHART_EDITOR.ADD_CHARTS_MODAL.TITLE' | translate" [nzOkText]="'CHART_EDITOR.ADD_CHARTS_MODAL.OK' | translate" [nzWidth]="800" (nzOnCancel)="closeAddChartsModal()" (nzOnOk)="addCharts()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }, 8]">
      @for (chart of userFavorites; track chart.id) {
        <div nz-col [nzSpan]="8">
          <app-charts-listing-element
            [chart]="chart"
            [showFavorite]="false"
            [showViewMore]="false"
            [showDescription]="false"
            [customActions]="[chartSelectedTemplate]"
            >
          </app-charts-listing-element>
        </div>
        <ng-template #chartSelectedTemplate>
          @if (chart.id !== undefined) {
            @if (chartsSelected.includes(chart.id)) {
              <button nz-button (click)="setChartSelected(chart.id, false)" nzType="text">
                <nz-icon nzType="check-square" nzTheme="outline" />
                {{ 'CHART_EDITOR.ADD_CHARTS_MODAL.SELECTED' | translate }}
              </button>
            } @else {
              <button nz-button (click)="setChartSelected(chart.id, true)" nzType="text">
                <nz-icon nzType="minus-square" nzTheme="outline" />
                {{ 'CHART_EDITOR.ADD_CHARTS_MODAL.NOT_SELECTED' | translate }}
              </button>
            }
          }
        </ng-template>
      }
      @if (userFavorites.length === 0) {
        <span>{{ 'CHART_EDITOR.ADD_CHARTS_MODAL.NO_FAVORITES' | translate }}</span>
      }
    </div>
  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isDocumentationModalVisible" [nzWidth]="800" [nzTitle]="'DOCUMENTATION_MODAL.TITLE' | translate" [nzCancelText]="null" [nzOkText]="null" (nzOnCancel)="setDocumentationModalVisible(false)" (nzOnOk)="setDocumentationModalVisible(false)">
  <ng-container *nzModalContent>
    <p>
      {{ 'DOCUMENTATION_MODAL.INTRO' | translate }}
    </p>
    <p>{{ 'DOCUMENTATION_MODAL.PARAGRAPH_1' | translate }}</p>
    <p>{{ 'DOCUMENTATION_MODAL.PARAGRAPH_2' | translate }}</p>
  </ng-container>
</nz-modal>