nz-sider, nz-content {
    padding: 10px;
}

.left-sider {
    max-width: 400px;
    padding: 10px;
}

.stitch-inventory {
    overflow: auto;
    padding-block: 10px;
  }

.chart {
    width: max-content;
    margin: auto;
}

.chart-row {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
}

.row-label {
    size: smaller;
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.color-palette {
    width: max-content;
    position: absolute;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.selected-element {
    width: 150px;
    position: absolute;
    bottom: 0px;
    
    nz-card {
        max-width: 150px;
    }
}