.chart {
    width: max-content;
    margin: auto;
    line-height: 0;
}

.chart-row {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
}

.row-label {
    line-height: 1.5;
    size: smaller;
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
}