@let chartFormInstance = chartForm();
@let chartInstance = chart();
@if (chartFormInstance && chartFormInstance.controls) {
    <ng-container *ngTemplateOutlet="chartBlock; context: {
        height: chartFormInstance.controls.pattern.value.length,
        pattern: chartFormInstance.controls.pattern.value,
        isFlat: chartFormInstance.controls.isFlat.value,
    }"></ng-container>
} @else if (chartInstance) {
    <ng-container *ngTemplateOutlet="chartBlock; context: {
        height: chartInstance.pattern.length,
        pattern: chartInstance.pattern,
        isFlat: chartInstance.flat
    }"></ng-container>
}

<ng-template #chartBlock let-pattern="pattern" let-height="height" let-isFlat="isFlat">
    <div class="chart">
        @for(row of pattern; let i = $index, isEvenRow = $even; track i) {
            @let rowCount = height - i;
            <div class="chart-row">
                @if (showRowLabels()) {
                    <div class="row-label align-right">
                        @if (isFlat && isEvenRow) {
                            <span>{{ rowCount }}</span>
                        }
                    </div>
                }
                @for(stitch of row; let j = $index; track j) {
                    <app-stitch
                        [stitch]="stitch"
                        [colors]="colors()"
                        [size]="stitchSize()"
                        (mouseover)="stitchEvent.emit({
                                stitch: stitch,
                                event: 'mouseenter'
                        })"
                        (mouseout)="stitchEvent.emit({
                            stitch: stitch,
                            event: 'mouseout'
                        })"
                        (click)="stitchEvent.emit({
                                stitch: stitch,
                                event: 'click'
                        })">
                    </app-stitch>
                }
                @if (showRowLabels()) {
                    <div class="row-label align-left">
                        @if (!isFlat || !isEvenRow) {
                            <span class="row-label">{{ rowCount }}</span>
                        }
                    </div>
                }
            </div>
        }
    </div>
</ng-template>
